@import compass/css3
@import compass/utilities/sprites
@import compass/utilities/general/clearfix
@import compass/typography

@import core/_settings
@import core/_foundation
@import font-icons-entypo-remapped
@import font-icons-awesome

@import core/_columnfix

$nprogress-color: $primary-color
@import nprogress
@import nprogress-bootstrap

.lt-ie9
  @include columnFix

@import core/**/*
@import modules/**/**/*
@import pages/**/**/*
@import neighborly-admin

.row
  width: 100%
  max-width: 62.5em
  min-width: 62.5em
  .row, .row .row
    width: auto
    max-width: none
    min-width: 0

.reveal-modal, body.embed
  .row
    width: auto
    max-width: none
    min-width: 0

.payment-errors
  color: #600

.alert
  max-width: 1000px
  margin: 0 auto
  padding: 25px
  font-weight: bold

.alert-success
  background-color: #cec 
  color: #060

.alert-alert
  background-color: #ecc
  color: #600

.alert-notice
  background-color: #cce
  color: #006

.alert-container
  background-color: #ccc
  color

span#u_0_3
  color: smokewhite

.centered 
  position: relative
  left: 22%

.center-text 
  text-align: center

.admin
  .tabs
    li
      display: inline
      list-style-type: none

ol.ol-aligned
  text-align: left
  position: relative
  left: 5%

.button.endorse 
  background-color: rgb(158, 59, 59)
  margin: 0

  &:hover
    background-color: #23a8aa

.large-3.columns.contribute
  & > a
    margin-right: 5px
    display: inline-block
    width: 52%
  & > a.endorse 
    width: 42%